.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Para garantir que o modal fique sobre outros elementos */
}

.modal {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 400px; /* Defina a largura desejada */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.content {
    margin-top: 1rem;
}
