.Title{
    padding: 0.5rem;
    margin: 0 32%;
    margin-top: 6.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.formulario_contato {
    background-color: var(--main-bg-color-dark);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    padding: 2rem;
    margin: 0 auto;
  }
  
  .formulario_contato label {
    margin-bottom: 15px;
    font-weight: bold;
    width: 100%;
  }
  
  .formulario_contato input,
  .formulario_contato textarea,
  .formulario_contato select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .formulario_contato option{
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2rem;
  }

  .TextArea{
    max-width: 100%;
    min-height: 6rem;
  }
  
  .formulario_contato button {
    padding: 1rem 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formulario_contato button:hover {
    background-color: #45a049;
  }
  