.Container{
    max-width: 100%;
    margin: 0 10%;
    margin-bottom: 4rem;
    padding: 20px;
    box-sizing: border-box;
}

.Title{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--main-text-color);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--main-color);  
}

.Content{
    align-items: center;
    justify-content: center;
}

.Img img{
    border-radius: 20px;
    margin-top: 1rem;
    padding: 0.2rem;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 1440px) {
    .Container{
        width: 68%;
        margin: 4rem auto;
    }
}