.Location{
    align-items: center;
    display: flex;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.Icon {
    color: var(--main-color);
    min-width: 25px;
    max-width: 25px;
    padding: 5px;
    margin: 0 0 3px 0;
} 

.State {
    font-size: 13pt;
    color: var(--main-color);
}

.Arrow {
    min-width: 25px;
    max-width: 25px;
    padding: 5px;
}


