.Article{
    background-color: var(--main-bg-color);
    margin: 6rem auto;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
}

.ArticleFull{
    padding: 6rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    background-color: #f0f0f0;
    border-radius: 0;
}
.ArticleFull div{
    width: 50%;
    margin: 1rem;
}
.ArticleFull p{
    color: var(--main-bg-color-dark);
    font-size: 1.3rem;
    font-weight: 300;
}
.ArticleFull img{
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 0.5rem;

}

.Banner{
    border-radius: 0.5rem;
    width: 100%;
    margin: 0 auto;
}

.Title{
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.5rem;
}

.Paragraph{
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
.ArticleFull div ul{
    padding-left: 2rem;
}

.ArticleFull div li{
    font-size: 1.5rem;
    list-style: disc;
}

.Orcamento{
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    width: 15rem;
    padding: 1rem;
    margin: 1.8rem auto;
    font-weight: 800;
    text-transform: uppercase;
}

.Orcamento:hover {
    background-color: var(--main-color);
    color: var(--main-text-color);
}

.Parcerias{
    margin: auto;
    padding: 1rem;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Parcerias a{
    margin: 0;

}

.Parcerias a:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.Parcerias img{
    width: 15rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .Article{
        width: 100%;
        margin: 0;
        margin-top: 4rem;
    }

    .Parcerias img{
        width: 10rem;
    }
}

@media (min-width: 769px) {
    .Article{
        width: 70%;
    }
}

@media (min-width: 1400px) {
    .Article{
        width: 40%;
    }
}