
.logoReserva {
    max-width: 15%;
    padding: 1%;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .logoReserva{
        width: 15%;
    }
}

@media (max-width: 1200px){
    .logoReserva{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
