
.logoReserva {
    padding: 0.2rem;
    width: 10rem;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .logoReserva{
        width: 15%;
    }
}

@media (max-width: 1200px){
    .logoReserva{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
