.content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5rem auto;
      box-sizing: border-box;
      background-color: var(--main-bg-color-dark);
      border-radius: 1rem;
      width: 80%;
      width: 70vw; 
      height: 100vh; 
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);

}

.aside, .bside {
      border-radius: 1rem;
      width: 50vw; /* Cada uma ocupa 50% da largura da janela */
      height: 100vh; /* Altura completa da janela */
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      box-sizing: border-box;
}

.aside {
      background-color: var(--main-bg-color-dark);
      display: flex;
      justify-content: center;
      align-items: center;
}

.aside img {
      max-width: 100%; 
      max-height: 100%;
      object-fit: contain;
}

.bside {
      background-color: #2c2c2c;
}

.Title {
      color: var(--main-color);
      text-transform: uppercase;
      font-size: 2rem;
      margin-bottom: 1rem;
}

.Span{
      margin: 0.5rem 0;
      color: var(--main-text-color);
}

.LabelCidade{
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0.5rem 0;
      color: var(--main-text-color);
} 

.LabelCidade select{
      margin: 0.5rem 0;
      padding: 0.5rem 0.5rem;
      font-weight: 600;
      outline: none;
      border: 0;
      border-radius: 0.2rem;
}

.subtmit {
      width: 100%;
      padding: 0.8rem 2rem;
      background-color: var(--main-color);
      color: white;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

.subtmit:hover {
      background-color: #FFD900;
}

.submitSection {
      display: flex;
      align-items: center; 
      gap: 1rem;
}

.successMessage {
      background-color: green;
      color: white;
      padding: 0.8rem;
      border-radius: 5px;
}

@media (max-width: 900px) {
      .content{
            margin: 12% 0;
            width: 100%;
      }
}

@media (max-width: 600px) {
      .content{
            margin: 22% 0;
      }
      .aside{
            display: none;
      }
      .bside{
            padding: 2rem;
            width: 100%;
      }
      .Title{
            font-size: 1.8rem;
            text-align: center;
            padding-top: 1rem;
            margin-bottom: 0;
      }
      form{
            padding-bottom: 1.5rem;
      }
}