.Title{
    font-size: var(--big-font-size);
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--main-color);
}

.Subtitle {
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.Paragraph {
    margin-bottom: 1rem;
    font-size: var(--h2-font-size);
}

.Subject{
    margin-top: 3rem;
}

.Image {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
    margin-bottom: 3rem;
}

.Links:hover{
    color: var(--main-color);
}
.Links::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}
.Links:hover::after{
    width: 100%;
}

.SideBySide{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.SideBySide div{
    width: 100%;
    padding-right: 1.5rem;
}

.SideBySide img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.Slider {
    width: 100%;
    height: auto;
    margin: 3rem auto;
    justify-self: center;
}

.Slider img{
    max-width: 100%;
    height: auto;
    padding: 0.1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); 
}

.Logo{
    width: 20rem;
    margin: 5% auto;
    display: flex;
}

@media (max-width: 550px) {
    .Article{
        width: 100%;
        margin: 0;
        padding: 7rem 2rem 2rem 2rem;
    }

    .Title{font-size: 1.6rem;}
    .Subtitle{font-size: 1.2rem;}
    .Paragraph{font-size: 1rem;}
    .Logo{width: 15rem;}
}

@media (Max-width: 1249px) {
    .SideBySide{
        flex-direction: column;
    }
}

