.Article{
    margin: 10% auto;
    border-radius: 1.5rem;
    background-color: var(--main-bg-color-dark);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.title{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.subtitle{
    color: var(--main-text-color);
    padding-top: 2rem;
    text-align: Left;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.paragraph{
    color: var(--main-text-color);
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
}

@media (max-width: 550px) {
    .Article{
        padding: 7rem 2rem 2rem 2rem;
        width: 90%;
    }
    
    .title{
        font-size: 1.6rem;
    }

    .subtitle{
        font-size: 1.3rem;
    }

    .paragraph{
        font-size: 1rem;
    }
}