.slider_container{
    width: 100%;
    margin: 0 auto;
}

.MovieCard{
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 160px;
}

.moviePoster {
    width: 100%;
    height: 15rem;
    border-radius: 0.5rem;
}

.movieContent {
    display: grid;
    grid-template-rows: repeat(2, 1f);
    height: 6em;
    padding: 0.4em;
    border-radius: 0.5rem;
    background-color: #1f1f1f;
    flex-direction: column;
    text-align: center;
}

.movieContent:hover {
    background-color: #2c2c2c;
}

.movieTitle {
    text-transform: uppercase;
    color: white;
    padding: 0.2rem;
    font-weight: 500;
    font-size: 12px;
    margin: 5px;
    color: white;
    text-align: left;
    overflow: hidden; /* Oculta o texto que excede o limite */
    display: -webkit-box;
    --webkit-box-orient: vertical;
    --webkit-line-clamp: 2; /* Ajuste o número de linhas conforme necessário */ 
    line-height: 1.2em; /* Ajuste a altura da linha conforme necessário */
    max-height: 2.4em; /* Ajuste a altura máxima conforme o número de linhas */
    text-overflow: ellipsis; /* Adiciona "..." quando o texto é cortado */
}


.description {
    padding: 0 0.5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.description p {
    font-size: 10pt;
    margin: 0;
    color: white;
}

.movieLink {
  text-decoration: none; 
  
}

/* Estilização de certificação */

.certification {
    border-radius: 5px;
    width: 1.2rem;
    height: 1.2rem;
    padding: 5px;
    color: white;
    font-weight: 700;
    font-size: 10pt;
    text-align: center;
    align-items: center;
}

.livre {
    background-color: green;
}

.dez {
    background-color: blue;
}

.doze {
    background-color: rgb(242, 195, 70);
}

.quatorze {
    background-color: orange;
}

.dezesseis {
    background-color: red;
}

.dezoito {
    background-color: black;
    color: white;
}

.naoDisponivel {
    background-color: rgb(105, 105, 105);
}

@media (max-width: 1200px){
    .moviePoster{
        max-height: 15rem;
    }
}

@media (max-width: 768px) {
    .movieContent{
        padding: 0.1rem;
    }
    .movieTitle{
        font-size: 0.75rem;
    }
}