.footer{
    max-width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5rem 0;
    margin-top: 2rem;
    justify-content: center;
    background-color: var(--main-bg-color-dark);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3);
}

.Links{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--main-color);
}

.column{
    padding: 60px 15px 0 0;
}

.column_title{
    font-size: 1.2rem;
    color: var(--main-color);
    display: flex;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.column_item{
    display: flex;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.column_item:hover{
    color: var(--main-color);
}

.SocialMedia{
    width: 100%;
}

.SocialMedia_icon{
    height: 1.5rem;
    padding: 0 10px;
}

.SocialMedia_icon:hover{
    color: var(--main-color);
}

.institucional{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    margin-right: 0.3rem;
}

.copyright{
    font-weight: 200;
}
.institucional p{
    font-size: var(--normal-font-size);
    color: white;
    margin-bottom: 0;
}
.institucional a{
    color: white;
    position: relative;
    display: inline-block;
}
.Developer a:hover{
    color: var(--main-color);
}
.Developer a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}
.Developer a:hover::after{
    width: 100%;
}
.arrow{
    display: none;
}

@media (max-width: 1200px) {
    
    .column{
        padding: 4rem 1.6rem;
    }
    .column_title{
        font-size: 0.9rem;
    }
    .column_item{
        font-size: 0.8rem;
    }
    .SocialMedia_icon{
        height: 2.7rem;
    }
}

@media (max-width:768px) {
    .Links{
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .column{
        padding: 2rem 2rem;
    }    

    .institucional{
        display: flex;
        flex-direction: column;
    }    

    .institucional p{
        padding: 1.5rem;
    }

    .SocialMedia_icon{
        height: 2.4rem;
    }
}

@media (max-width: 580px){
    .footer {
    justify-content: flex-start; 
    width: 100%;
    }
    .footer div{
        width: 100%;
    }
    .column{
        width: 100%;
        margin: 0.2rem;
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .column ul{
        margin: -20px 0;
        padding: 1rem;
        padding-left: 0;
        transition: max-height 0.3s ease-out;
    }
    .column ul.active{
        display: flex;
        max-height: 260px;
    }
    .column_title{
        margin: 0;
        padding: 0rem 1rem;
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
    .column_item{
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
    }
    .Links{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .SocialMedia_icon{
    height: 2rem;
    padding: 1rem 1.2rem;
    }
    .institucional{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    .institucional div{
        padding: 0.7rem;
    }
}

@media (max-width: 375px) {
    .column{
        padding: 4rem 0 1rem 1rem;
    }
}

@media (min-width: 1360px) {
    .footer{
        padding: 0;
    }
    .column{
        padding: 60px 47px 0 0;
    }
}