.footer{
    position: relative;
    background-color: var(--main-bg-color-dark);
    display: flex;
    flex-direction: row;
    bottom: 0;
    margin-top: 5rem;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
}

/*footerTop{}*/
.Links{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--main-color);
}

.column{
    padding: 60px 50px 0 0;
}

.column_title{
    font-size: 1.2rem;
    color: var(--main-color);
    display: flex;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.column_item{
    display: flex;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.column_item:hover{
    color: var(--main-color);
}

.SocialMedia_icon{
    height: 1.5rem;
    padding: 0 10px;
}

.SocialMedia_icon:hover{
    color: var(--main-color);
}

.institucional{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.institucional img{
    max-width: 150px;
}
.copyright{
    font-weight: 200;
}
.institucional p{
    color: white;
}
.institucional a{
    color: white;
    position: relative;
    display: inline-block;
}
.institucional a:hover{
    color: var(--main-color);
}
.institucional a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}
.institucional a:hover::after{
    width: 100%;
}

@media (max-width: 1024px) {
    .column{
        padding: 60px 20px;
    }
}

@media (max-width: 768px) {
    .footer{
        width: 1000px;
    }

    .Links{
        display: grid;
        grid-gap: 48px;
        grid-template-columns: repeat(3, 1fr);
    }

    .SocialMedia_icon{
        height: 3rem;
    }
}