.PostGrid{
    max-width: 100%;
    margin: 0 10%;
    margin-bottom: 4rem;
    padding: 20px;
    box-sizing: border-box; 
}

.sectionTitle{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    text-align: start;
    margin: 4rem 0 1.5rem 0;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--main-color);
}

.PostSection {
    align-items: center;
    justify-content: center;
}

.Post{
    height: 95%;
    max-width: 95%;
    margin: 5px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.8);

}

.Post:hover {
    transform: scale(1.02)
}

@media (max-width: 758px) {
    .PostGrid{
        margin: 1rem auto;
    }
}

@media (max-width: 1200px) {
    .PostGrid{
        width: 80%;
        margin: 1rem auto;
    }
}

@media (min-width: 1440px) {
    .PostGrid{
        width: 68%;
        margin: 1rem auto;
    }
    .Post{
        margin: 0;
        width: 100%;
    }
}