.PostGrid{
    max-width: 800;
    margin: 0 10%; /* Margem de 20% nas laterais */
    padding: 20px; /* Opcional: adicionar padding para espaçamento interno */
    box-sizing: border-box; /* Garante que padding e border não afetem o tamanho total */
}

.sectionTitle{
    font-size: 25pt;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    text-align: start;
    margin: 4rem 0 1.5rem 0;
    border-bottom: 3px solid var(--main-color);
}

.PostSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Post{
    height: 95%;
    max-width: 95%;
    margin: 5px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.Post:hover {
    transform: scale(1.02)
}