.Article{
    border-radius: 0;
    margin: 0 auto;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.image{
    margin: -0.8rem;
    width: 50%;
    max-width: 300px;
}

.subtitle{
    color: var(--main-text-color);
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--main-color);
}

.Object p{
    color: var(--main-text-color);
}

.SideBySide{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SideBySide div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.SideBySide a{
    width: 80%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem;
    background-color: var(--main-bg-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.Image{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    width: 80%;
    border-radius: 1rem;
    background-color: white;
}

.Footer{
    background-color: var(--main-bg-color-dark);
    padding: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Address{
    display: flex;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.Address a{
    padding: 1rem;
}

.Copyright{
    padding-bottom: 2rem;
    font-weight: 200;
}

.Developer a{
    position: relative;
}

.Developer a:hover{
    color: var(--main-color);
}
.Developer a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}
.Developer a:hover::after{
    width: 100%;
}

@media (max-width: 900px) {
    .Article{
        margin: 0;
        width: 100%;
    }

    .SideBySide div{
        width: 100%;   
    }
    .SideBySide a{
        font-size: 1rem;

    }
}

@media (max-width: 600px) {
    .Article{
        padding: 0;
    }
    .SideBySide div{
        padding: 0.3rem;  
        margin: 0 1.5rem;
    }
    .subtitle{
        margin: 4rem 1.5rem 3rem 1.5rem;
    }
}

@media (Max-width: 550px) {
    .SideBySide a{
        font-size: 0.8rem;
    }
    .SideBySide div{
        padding: 0.3rem;
        margin: 0 0.5rem;
    }
    .Image{
        width: 100%;
    }

    .Address{
        padding: 0.6rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 320px) {
    .SideBySide a{
        font-size: 0.5rem;
    }
}