@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --main-color: #FDA300;
  --main-text-color: #f2f2f2;
  --main-bg-color: #0d0d0d;
  --nav-color-mobile: #0d0d0dfb;
  --main-bg-color-dark: #0a0a0a;
  --scrollbar: #929090;
  --scrollbar-background: #0d0d0d;

  /*================ Font and typography ================*/
  --body-font: 'League Spartan', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}


/*================ Base ================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {  
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg-color);
}

h1, h2, h3, h4, span {
  color: var(--main-text-color);
  font-weight: var(--font-medium);

}

a, p, label{
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

article{
  justify-content: center;
  width: 75%;
  margin: 7rem auto;
  padding: 4rem 4rem;
  border-radius: 1rem;
  background-color: var(--main-bg-color-dark);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

/*==================== SCROLLBAR ====================*/
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb{
  background-color: var(--scrollbar);
  border-radius: 15px;
}

@media (max-width: 1200px) {
  ::-webkit-scrollbar{
    display: none;
  }
}
