.MovieCard {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 20px;
}

.moviePoster {
    width: 10rem;
    height: auto;
    border-radius: 15px;
}

.movieContent {
    background-color: red;
}

.movieTitle {
    font-weight: 500;
    font-size: 18px;
    margin: 5px;
    color: white;
}

.infoMovies { 
    display: flex;
    padding: 10px;
    font-size: 14px;
}

.infoMovies p {
    padding: 5px;
    color: white;
}
